In [1]:
#hiddencell
from pbl_tools import *

# ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡ (ì´ˆê¸‰)
![inner-á„‹á…µá†«á„€á…®á„ƒá…¦á„‹á…µá„á…¥á„€á…µá„‡á…¡á†«á„‰á…©á„ƒá…³á†¨á„‹á…¨á„á…³á†¨ (1)](https://github.com/jieun-ai/pytorch_study/assets/75363345/a86484ff-59d9-41cd-9285-acc1afe6f8f8)


## ì†Œê°œ
ì•ˆë…•í•˜ì„¸ìš”, ë°ì´ì»¤ ì—¬ëŸ¬ë¶„!ğŸ™Œ

ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡ í”„ë¡œì íŠ¸ì— ì°¸ì—¬í•˜ì‹  ì—¬ëŸ¬ë¶„ì„ í™˜ì˜í•©ë‹ˆë‹¤.
ì´ í”„ë¡œì íŠ¸ëŠ” ì¸êµ¬ í†µê³„í•™ì  ì •ë³´ì™€ ì¼ë°˜ì ì¸ ìƒí™œ ìŠµê´€ ë“± ë‹¤ì–‘í•œ íŠ¹ì„±ë“¤ì„ í™œìš©í•˜ì—¬ ê°œì¸ì˜ ì†Œë“ ìˆ˜ì¤€ğŸ’µì„ ì˜ˆì¸¡í•˜ëŠ” ë¬¸ì œì— ëŒ€í•´ ë‹¤ë£¹ë‹ˆë‹¤.   
ë°ì´í„° ë¶„ì„ê³¼ ë¨¸ì‹ ëŸ¬ë‹ ê¸°ë²•ì„ í™œìš©í•˜ì—¬ ì†Œë“ê³¼ ê´€ë ¨ëœ í•µì‹¬ ìš”ì†Œë“¤ì„ íŒŒì•…í•˜ê³ , ìµœì ì˜ ëª¨ë¸ì„ êµ¬ì¶•í•˜ëŠ” ë°©ë²•ì„ ë°°ìš°ê²Œ ë©ë‹ˆë‹¤.

ì´ í”„ë¡œì íŠ¸ë¥¼ í†µí•´ ì—¬ëŸ¬ë¶„ì€ ì‹¤ì œ ë°ì´í„°ì™€ íƒ€ê²Ÿ ë³€ìˆ˜ ê°„ì˜ ê´€ê³„ë¥¼ ê¹Šì´ ìˆê²Œ ë¶„ì„í•˜ê³ , ë°ì´í„° ì „ì²˜ë¦¬ ë° í”¼ì²˜ ì—”ì§€ë‹ˆì–´ë§ ê¸°ë²•ì„ ì ìš©í•˜ì—¬ ëª¨ë¸ ì„±ëŠ¥ì„ í–¥ìƒì‹œí‚¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.   
ë˜í•œ, ëª¨ë¸ë§ ê¸°ë²•ê³¼ í‰ê°€ ë°©ë²•ë¡ ì— ëŒ€í•´ í•™ìŠµí•˜ì—¬ ì‹¤ì „ì—ì„œ ì¢‹ì€ ì„±ê³¼ë¥¼ ì–»ëŠ” ë° ë„ì›€ì´ ë  ê²ƒì…ë‹ˆë‹¤.

í•¨ê»˜ ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡ ë¬¸ì œë¥¼ í•´ê²°í•˜ë©° ë°ì´í„° ë¶„ì„ì˜ ê¹Šì´ ìˆëŠ” ê²½í—˜ê³¼ ì°½ì˜ë ¥ì„ í•¨ì–‘í•´ë³´ì„¸ìš”.   
ì¤€ë¹„ë˜ì…¨ë‚˜ìš”? í•¨ê»˜ ì‹œì‘í•´ë´…ì‹œë‹¤!


## ëª©ì 

ì´ í”„ë¡œì íŠ¸ëŠ” ì‹¤ì œ ë°ì´í„° ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ë“¤ì´ ë¨¸ì‹ ëŸ¬ë‹ ë¬¸ì œì— ì§ë©´í–ˆì„ ë•Œ ì ìš©í•˜ëŠ” ë°©ë²•ë¡ ë“¤ì„ ì˜ˆì‹œí•˜ê³ , ì°½ì˜ì ì¸ ë°ì´í„° ë¶„ì„ ì—­ëŸ‰ê³¼ ì¸ë‚´ë ¥ì„ í–¥ìƒì‹œí‚¤ëŠ” ê²ƒì„ ëª©í‘œë¡œ í•©ë‹ˆë‹¤.   
ë°ì´í„° ë¶„ì„, ì „ì²˜ë¦¬, í”¼ì²˜ ì—”ì§€ë‹ˆì–´ë§, ëª¨ë¸ë§ ì ˆì°¨ë“¤ì€ ì‹¤ì „ì—ì„œ ë§ì€ ë„ì „ê³¼ ì‹œë„ë¥¼ í•„ìš”ë¡œ í•˜ë©°, ê³ ì •ëœ ë‹µì´ ìˆëŠ” ê²ƒì´ ì•„ë‹™ë‹ˆë‹¤.

ë³¸ êµì¬ëŠ” ì—¬ëŸ¬ë¶„ì˜ ë°ì´í„° ë¶„ì„ ì—­ëŸ‰ì„ í–¥ìƒì‹œí‚¤ê¸° ìœ„í•œ ë°œíŒìœ¼ë¡œ ì œê³µë©ë‹ˆë‹¤.   
í•˜ì§€ë§Œ ì—¬ëŸ¬ë¶„ì€ ì´ êµì¬ì˜ ë‚´ìš©ì„ ë„˜ì–´ì„œ ìì‹ ë§Œì˜ ë…íŠ¹í•˜ê³  íš¨ê³¼ì ì¸ ë°©ë²•ë¡ ì„ ê°œë°œí•´ë‚˜ê°ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.   
ì—¬ëŸ¬ë¶„ì˜ ì°½ì˜ë ¥ê³¼ ë…¸ë ¥ìœ¼ë¡œ ìƒìœ„ ë­ì»¤ë¡œ ë„ì•½í•˜ê¸° ìœ„í•œ ë°œíŒì„ ë§Œë“¤ì–´ ë‚˜ê°€ëŠ” ê²ƒì´ ì´ í”„ë¡œì íŠ¸ì˜ ëª©ì ì…ë‹ˆë‹¤.

ì‹¤ì œ ë°ì´í„° ì‚¬ì´ì–¸ìŠ¤ ì—…ë¬´ì—ì„œ ìš”êµ¬ë˜ëŠ” ë¬¸ì œ í•´ê²° ëŠ¥ë ¥ê³¼ ì°½ì˜ì„±ì„ ê¸°ë¥´ë©°, ë°ì´í„° ë¶„ì„ ë° ëª¨ë¸ë§ì— ëŒ€í•œ ì „ë¬¸ì„±ì„ ê°•í™”í•˜ëŠ” ê²ƒì— ì´ˆì ì„ ë§ì¶”ê³  ìˆìŠµë‹ˆë‹¤.   
ì´ í”„ë¡œì íŠ¸ë¥¼ í†µí•´ ì—¬ëŸ¬ë¶„ì€ í˜„ì—…ì—ì„œ í™œìš© ê°€ëŠ¥í•œ ì‹¤ì „ ê²½í—˜ê³¼ ë…ì°½ì ì¸ ë°©ë²•ë¡  ê°œë°œì— í•œ ê±¸ìŒ ë‹¤ê°€ê°ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ìì‹ ë§Œì˜ ë…íŠ¹í•œ ì ‘ê·¼ ë°©ì‹ê³¼ ì§€ì†ì ì¸ í•™ìŠµìœ¼ë¡œ ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡ í”„ë¡œì íŠ¸ë¥¼ ë„˜ì–´ì„œ ìƒìœ„ ë­ì»¤ë¡œ ë„ì•½í•  ìˆ˜ ìˆëŠ” ë°œíŒì„ ë§Œë“¤ì–´ë´…ì‹œë‹¤!


### ë°ì´í„°ì—ëŠ” ë‹¤ìŒê³¼ ê°™ì€ í”¼ì²˜ê°€ ì¡´ì¬í•©ë‹ˆë‹¤. 
- id : ìƒ˜í”Œ ì•„ì´ë””
- age : ë‚˜ì´
- workclass : ê³ ìš© í˜•íƒœ (ì¼í•˜ëŠ” ì¡°ì§ ë˜ëŠ” íšŒì‚¬ì˜ ì¢…ë¥˜)
- fnlwgt : CPS(Current Population Survey) ê°€ì¤‘ì¹˜
- education : êµìœ¡ìˆ˜ì¤€
- education.num : êµìœ¡ìˆ˜ì¤€ ë²ˆí˜¸
- marital.status : ê²°í˜¼ ìƒíƒœ
- occupation : ì§ì—…
- relationship : ê°€ì¡±ê´€ê³„
- race : ì¸ì¢…
- sex : ì„±ë³„
- capital.gain : ìë³¸ ì´ìµ
- capital.loss : ìë³¸ ì†ì‹¤
- hours.per.week : ì£¼ë‹¹ ê·¼ë¬´ì‹œê°„
- native.country : ë³¸ êµ­ì 
- target : ì†Œë“
    - 0 = <=50K (5ë§Œ ë‹¬ëŸ¬ ì´í•˜)
    - 1 >50K (5ë§Œ ë‹¬ëŸ¬ ì´ˆê³¼)


# ìŠ¤í…Œì´ì§€ 1. ë°ì´í„° ë¡œë”© ë° ì´ˆê¸° íƒìƒ‰
## ë„ì…

ì•ˆë…•í•˜ì„¸ìš”, ë°ì´í„° ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ ì—¬ëŸ¬ë¶„!

ìš°ë¦¬ëŠ” ì´ë²ˆ ìŠ¤í…Œì´ì§€ì—ì„œ 'ë°ì´í„° ë¡œë”© ë° ì´ˆê¸° íƒìƒ‰'ì— ì´ˆì ì„ ë§ì¶”ê²Œ ë©ë‹ˆë‹¤.  ì´ í”„ë¡œì íŠ¸ì˜ ëª©í‘œëŠ” ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡ ë¬¸ì œë¥¼ ë‹¤ë£¨ë©°, ë°ì´í„°ë¥¼ íƒìƒ‰í•˜ì—¬ ë¬¸ì œë¥¼ ëª…í™•í•˜ê²Œ ì´í•´í•˜ê³  í•„ìš”í•œ í”¼ì²˜ì— ëŒ€í•œ í†µì°°ë ¥ì„ ì–»ëŠ” ê²ƒì…ë‹ˆë‹¤.

ì²« ë²ˆì§¸ ìŠ¤í…ì—ì„œëŠ” pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ í™œìš©í•˜ì—¬ ë°ì´í„°ë¥¼ ë¡œë“œí•©ë‹ˆë‹¤. train.csv, test.csv, sample_submission.csv íŒŒì¼ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì™€ì„œ ë°ì´í„°ì…‹ì˜ êµ¬ì¡°ì™€ ë³€ìˆ˜ë¥¼ í™•ì¸í•©ë‹ˆë‹¤. ë˜í•œ, test ë°ì´í„°ì˜ ìƒìœ„ 3ê°œ í–‰ë„ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

ë°ì´í„°í”„ë ˆì„ì„ CSV íŒŒì¼ë¡œ ì €ì¥í•˜ëŠ” ê³¼ì •ë„ í•¨ê»˜ ì§„í–‰í•  ê²ƒì…ë‹ˆë‹¤.

ì´ë²ˆ ë‹¨ê³„ë¥¼ í†µí•´ ì£¼ì–´ì§„ ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡ ë¬¸ì œì— ëŒ€í•œ ì´ˆê¸° íƒìƒ‰ì„ ì‹œì‘í•˜ê³ , ë°ì´í„°ì…‹ì˜ íŠ¹ì„±ê³¼ ë³€ìˆ˜ì— ëŒ€í•œ ì´í•´ë¥¼ ë†’ì¼ ê²ƒì…ë‹ˆë‹¤.

ì¤€ë¹„ê°€ ë˜ì…¨ë‚˜ìš”? ê·¸ëŸ¼ í•¨ê»˜ ì‹œì‘í•´ë´…ì‹œë‹¤!

## ëª©í‘œ

- ì£¼ì–´ì§„ ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡ ë¬¸ì œì— ëŒ€í•œ ì •ì˜ì™€ í•„ìš”í•œ í”¼ì²˜ë“¤ì— ëŒ€í•˜ì—¬ ëª…í™•í•˜ê²Œ ì´í•´í•˜ê¸°
- pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ train.csv, test.csv, sample_submission.csv íŒŒì¼ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì½ì–´ì˜¤ê¸°
- ìƒìœ„ 5ê°œ í–‰(row)ê³¼ ìƒìœ„ 3ê°œ í–‰(row)ì˜ ë°ì´í„° ì¶œë ¥í•˜ì—¬ êµ¬ì¡°ì™€ ë³€ìˆ˜ í™•ì¸í•˜ê¸°
- í•„ìš”í•œ ê²½ìš° ì „ì²˜ë¦¬ ì‘ì—… ë° CSV íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°

# 1.ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ pandas ë¼ì´ë¸ŒëŸ¬ë¦¬(Library) import
[ë¬¸ì œ 1]  
pandas ë¼ì´ë¸ŒëŸ¬ë¦¬(Library)ë¥¼ `import` í•˜ê¸° ìœ„í•´ì„œ ì•„ë˜ ë¹ˆì¹¸ì„ ì±„ì›Œ ì£¼ì„¸ìš”.  
`pandas`ëŠ” ìì£¼ ì‚¬ìš©í•˜ëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬(Library)ì´ë¯€ë¡œ ì¶•ì•½ì–´ì¸ `pd`ë¡œ ë¶ˆëŸ¬ì™€ ì£¼ì„¸ìš”.

In [31]:
import pandas as ___

In [4]:
#checkcode
ensure_vals(globals(), 'pd')
@check_safety
def check(
    user_answer_pandas: str
):
    if hasattr(user_answer_pandas, 'read_csv'):
        return True
    else:
        return False
check(pd)

True

### Inst.
`import pandas as pd`ëŠ” Pythonì—ì„œ **íŒë‹¤ìŠ¤(pandas) ë¼ì´ë¸ŒëŸ¬ë¦¬(library)ë¥¼ import** í•˜ëŠ” ì½”ë“œì…ë‹ˆë‹¤.  
íŒë‹¤ìŠ¤ëŠ” ë°ì´í„° ë¶„ì„ê³¼ ê´€ë ¨ëœ ë‹¤ì–‘í•œ ê¸°ëŠ¥ì„ ì œê³µí•˜ë©°,  
í‘œ í˜•ì‹ì˜ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ë° íŠ¹í™”ë˜ì–´ ìˆìŠµë‹ˆë‹¤.  

ì½”ë“œë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” ë¨¼ì € Python í™˜ê²½ì—ì„œ íŒë‹¤ìŠ¤ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì„¤ì¹˜í•´ì•¼ í•©ë‹ˆë‹¤.  
ì„¤ì¹˜ê°€ ì™„ë£Œë˜ë©´, Python ìŠ¤í¬ë¦½íŠ¸ë‚˜ Jupyter Notebook ë“±ì—ì„œ `import pandas as pd` ì½”ë“œë¥¼ ì‘ì„±í•˜ë©´ ë©ë‹ˆë‹¤.  
ì´ë ‡ê²Œ ì‘ì„±í•˜ë©´ íŒë‹¤ìŠ¤ ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì œê³µí•˜ëŠ” ë‹¤ì–‘í•œ **í•¨ìˆ˜ì™€ í´ë˜ìŠ¤**ë¥¼ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  

ì´ ì½”ë“œëŠ” "ëª¨ë“ˆ ë¶ˆëŸ¬ì˜¤ê¸°"ë¼ëŠ” ê¸°ë²• ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤.  
Pythonì—ì„œ ëª¨ë“ˆì€ í•¨ìˆ˜, í´ë˜ìŠ¤, ë³€ìˆ˜ ë“±ì„ ì •ì˜í•˜ê³  ìˆëŠ” íŒŒì¼ì„ ì˜ë¯¸í•©ë‹ˆë‹¤.  
`import pandas`ëŠ” íŒë‹¤ìŠ¤ ëª¨ë“ˆì„ ë¶ˆëŸ¬ì˜¤ëŠ” ê²ƒì´ë©°,  
`as pd`ëŠ” íŒë‹¤ìŠ¤ ëª¨ë“ˆì„ pdë¼ëŠ” ì´ë¦„ìœ¼ë¡œ ì‚¬ìš©í•˜ê² ë‹¤ëŠ” ì˜ë¯¸ì…ë‹ˆë‹¤.  
ì´ë ‡ê²Œ í•˜ë©´ ì½”ë“œ ì‘ì„± ì‹œ íŒë‹¤ìŠ¤ í•¨ìˆ˜ë‚˜ í´ë˜ìŠ¤ë¥¼ `pd.` ì ‘ë‘ì‚¬ë¥¼ ë¶™ì—¬ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### Hint.
empty

### Solution.
```python
import pandas as pd
```

# 2.train.csv íŒŒì¼ì„ pandasë¥¼ ì´ìš©í•´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì½ì–´ì˜¤ê¸°
[ë¬¸ì œ 2]  
`train.csv` íŒŒì¼ì„ ë°ì´í„°í”„ë ˆì„(DataFrame)ìœ¼ë¡œ ì½ì–´ì˜¤ê¸° ìœ„í•´ `read_csv()` í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•´ ë³´ì„¸ìš”.

In [33]:
train = pd.___('train.csv')
train

,ID,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,TRAIN_0000,75,Self-emp-not-inc,218521,Some-college,10,Married-spouse-absent,Craft-repair,Not-in-family,White,Male,0,0,30,United-States,0
1,TRAIN_0001,23,Private,194102,Bachelors,13,Never-married,Exec-managerial,Unmarried,White,Male,0,0,40,United-States,0
2,TRAIN_0002,34,Private,238305,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,1628,12,NaN,0
3,TRAIN_0003,34,Private,188096,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,36,United-States,0
4,TRAIN_0004,51,Self-emp-not-inc,25932,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,60,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435,TRAIN_4435,21,Private,152246,Some-college,10,Never-married,Handlers-cleaners,Own-child,Asian-Pac-Islander,Male,0,0,40,Philippines,0
4436,TRAIN_4436,32,Private,188246,HS-grad,9,Divorced,Craft-repair,Own-child,White,Male,0,0,40,United-States,0
4437,TRAIN_4437,28,Federal-gov,526528,Some-college,10,Never-married,Adm-clerical,Unmarried,Black,Female,3887,0,40,United-States,0
4438,TRAIN_4438,58,Private,142924,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,24,United-States,1
4439,TRAIN_4439,36,Private,214604,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,42,United-States,1

In [6]:
#checkcode
ensure_vals(globals(), 'train')
@check_safety
def check(
    user_answer:pd.DataFrame
):
    c_point0 = hasattr(user_answer, 'head')

    if c_point0:
        return True
    else:
        return False

check(train)

True

### Inst.

ì´ë²ˆ í”„ë¡œì íŠ¸ì—ì„œëŠ” ì´ 3ê°€ì§€ ë°ì´í„°ê°€ ì¡´ì¬í•˜ë©°, ëª¨ë‘ .csv íŒŒì¼ í˜•ì‹ìœ¼ë¡œ ì œê³µë©ë‹ˆë‹¤.

- train.csv: ëª¨ë¸ì„ í•™ìŠµ(train)í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ë°ì´í„°
- test.csv: ëª¨ë¸ì„ í†µí•´ ì •ë‹µì„ ì˜ˆì¸¡í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ë°ì´í„°
- sample_submission.csv: ì˜ˆì¸¡í•œ ì •ë‹µ ê°’ì„ ê¸°ë¡í•˜ì—¬ ì œì¶œí•˜ê¸° ìœ„í•œ ìƒ˜í”Œ ì •ë‹µ íŒŒì¼

ìœ„ì—ì„œ í˜¸ì¶œí•œ pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ train.csv íŒŒì¼ì„ ì½ì–´ì˜¤ê² ìŠµë‹ˆë‹¤.  
pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ `read_csv('íŒŒì¼ê²½ë¡œ/íŒŒì¼ëª….csv')` í•¨ìˆ˜ëŠ”  
train.csv íŒŒì¼ì„ ì½ì–´ì™€ ë°`ì´í„°í”„ë ˆì„(DataFrame) í˜•íƒœë¡œ train ë³€ìˆ˜ì— ì €ì¥`í•˜ëŠ” ì½”ë“œì…ë‹ˆë‹¤.  

ì´ë•Œ, ë°ì´í„°í”„ë ˆì„ì€ pandas ë¼ì´ë¸ŒëŸ¬ë¦¬(Library)ì—ì„œ ì œê³µí•˜ëŠ” í‘œ í˜•íƒœì˜ ë°ì´í„° êµ¬ì¡°ì…ë‹ˆë‹¤.  
ë°ì´í„°í”„ë ˆì„ì€ í–‰(row)ê³¼ ì—´(column)ë¡œ ì´ë£¨ì–´ì ¸ ìˆìœ¼ë©°,  
ê° ì—´(column)ì€ ì„œë¡œ ë‹¤ë¥¸ ë°ì´í„° íƒ€ì…ì„ ê°€ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì½”ë“œë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œëŠ” train.csv íŒŒì¼ì´ ë¨¼ì € ì¤€ë¹„ë˜ì–´ ìˆì–´ì•¼ í•˜ë©°,  
train.csv íŒŒì¼ì´ ì €ì¥ëœ ê²½ë¡œë¥¼ ì •í™•í•˜ê²Œ ì…ë ¥í•´ì•¼ í•©ë‹ˆë‹¤.  
read_csv() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ íŒŒì¼ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì½ì–´ì˜¨ í›„,  
ì´ë¥¼ í†µí•´ ë°ì´í„°ì˜ êµ¬ì¡°ì™€ ë‚´ìš©ì„ ë¶„ì„í•˜ê³  ëª¨ë¸ë§ì„ ìˆ˜í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### Hint.
empty

### Solution.
```python
train = pd.read_csv('train.csv')
train
```

# 3.test.csv, sample_submission.csv íŒŒì¼ì„ pandasë¥¼ ì´ìš©í•´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì½ì–´ì˜¤ê¸°
[ë¬¸ì œ 3]  
train ë°ì´í„°ë¥¼ ì½ì–´ì™”ìœ¼ë¯€ë¡œ, ì´ì œ `pd`ë¥¼ ì‚¬ìš©í•˜ì—¬ `test.csv`ì™€ `sample_submission.csv` íŒŒì¼ì„  
ê°ê° testì™€ submissionì´ë¼ëŠ” ì´ë¦„ì˜ `ë°ì´í„°í”„ë ˆì„(DataFrame)`ìœ¼ë¡œ ë¶ˆëŸ¬ì™€ ë´…ì‹œë‹¤.  
ì•„ë˜ ë¹ˆì¹¸ì„ ì±„ì›Œì£¼ì„¸ìš”.

In [35]:
test = ___.___('test.csv')
submission = ___.___('sample_submission.csv')

In [8]:
#checkcode
ensure_vals(globals(), 'test', 'submission')
@check_safety
def check(
    user_test: pd.DataFrame,
    user_submission: pd.DataFrame
):
    c_point1 = hasattr(user_test, 'tail')
    c_point2 = hasattr(user_submission, 'tail')

    if c_point1 and c_point2:
        return True
    else:
        return False

check(test, submission)

True

### Inst.

### Hint.
`read_csv('íŒŒì¼ê²½ë¡œ/íŒŒì¼ëª….csv')` í•¨ìˆ˜ëŠ”  
csv íŒŒì¼ì„ ì½ì–´ì™€ ë°ì´í„°í”„ë ˆì„(DataFrame) í˜•íƒœë¡œ ë³€ìˆ˜ì— ì €ì¥í•˜ëŠ” ì½”ë“œì…ë‹ˆë‹¤.

### Solution.
```python
test = pd.read_csv('test.csv')
submission = pd.read_csv('sample_submission.csv')
```

# 4.ë°ì´í„°í”„ë ˆì„ì˜ ìƒìœ„ 5ê°œ í–‰(row) ë°ì´í„° ì¶œë ¥í•˜ê¸°

[ë¬¸ì œ 4]  
pandasì˜ `head()` ë©”ì†Œë“œë¥¼ ì´ìš©í•˜ì—¬ ìƒìœ„ 5ê°œì˜ í–‰(row) ë°ì´í„°ë¥¼ ì¶œë ¥í•´ ë³´ì„¸ìš”.

In [54]:
train.___()

,ID,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,TRAIN_0000,75,Self-emp-not-inc,218521,Some-college,10,Married-spouse-absent,Craft-repair,Not-in-family,White,Male,0,0,30,United-States,0
1,TRAIN_0001,23,Private,194102,Bachelors,13,Never-married,Exec-managerial,Unmarried,White,Male,0,0,40,United-States,0
2,TRAIN_0002,34,Private,238305,Some-college,10,Married-civ-spouse,Other-service,Wife,White,Female,0,1628,12,NaN,0
3,TRAIN_0003,34,Private,188096,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,36,United-States,0
4,TRAIN_0004,51,Self-emp-not-inc,25932,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,60,United-States,0

In [10]:
#checkcode
ensure_vals(globals(), 'train')
@check_safety
def check(
    user_answer:pd.DataFrame,
    train_shape:tuple
):
    c_point1 = user_answer.shape == train_shape
    
    if c_point1:
        return True
    else:
        return False
    
check(_, (5, 16))

True

### Inst.

pandas ë¼ì´ë¸ŒëŸ¬ë¦¬(Library)ë¥¼ ì‚¬ìš©í•˜ì—¬ ìƒì„±ëœ ë°ì´í„°í”„ë ˆì„(DataFrame)ì—ì„œ **ìƒìœ„ 5ê°œì˜ í–‰(row)** ì„ ì¶œë ¥í•˜ëŠ” ì½”ë“œì…ë‹ˆë‹¤.  
train ë³€ìˆ˜ì— ì €ì¥ëœ ë°ì´í„°í”„ë ˆì„ì—ì„œ ìƒìœ„ 5ê°œì˜ í–‰ì„ ì¶œë ¥í•˜ëŠ” ì½”ë“œë¡œ, ë°ì´í„°ë¥¼ í™•ì¸í•˜ê³  ë¶„ì„í•  ë•Œ ì‚¬ìš©ë©ë‹ˆë‹¤.  

ì´ ì½”ë“œ ê¸°ë²•ì€ pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì œê³µí•˜ëŠ” ë°ì´í„°í”„ë ˆì„ì˜ ë©”ì†Œë“œ ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤.  
`head(n)` ë©”ì†Œë“œëŠ” ê¸°ë³¸ì ìœ¼ë¡œ ìƒìœ„ 5ê°œì˜ í–‰(row)ì„ ì¶œë ¥í•˜ë©°, ì¸ìë¡œ ì „ë‹¬ëœ nì— ë”°ë¼ **ìƒìœ„ nê°œì˜ í–‰(row)** ì„ ì¶œë ¥í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
**ë°ì´í„°í”„ë ˆì„ì˜ êµ¬ì¡°ì™€ ê°’ì„ ë¹ ë¥´ê²Œ í™•ì¸** í•  ìˆ˜ ìˆëŠ” ê°„í¸í•œ ê¸°ëŠ¥ì…ë‹ˆë‹¤.  
í™•ì¸í•˜ê³  ì‹¶ì€ í–‰ì˜ ê°œìˆ˜ë¥¼ 2ê°œë¡œ ë³€ê²½í•˜ê³  ì‹¶ë‹¤ë©´ `head(2)`ë¡œ ì…ë ¥í•´ ë³´ì„¸ìš”.

### Hint.
empty

### Solution.
```python
train.head()
```

# 5. test ë°ì´í„°ì˜ ìƒìœ„ 3ê°œì˜ í–‰(row) ë°ì´í„° ì¶œë ¥í•˜ê¸°  
[ë¬¸ì œ 5]  
ì•„ë˜ ë¹ˆì¹¸ì„ ì±„ì›Œ `ìƒìœ„ 3ê°œ`ì˜ í–‰(row) ë°ì´í„°ë¥¼ ì¶œë ¥í•´ ë³´ì„¸ìš”.

In [59]:
test.___(___)

,ID,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,TEST_0000,23,Private,234460,7th-8th,4,Never-married,Machine-op-inspct,Own-child,Black,Female,0,0,40,Dominican-Republic
1,TEST_0001,41,Self-emp-not-inc,209344,HS-grad,9,Married-civ-spouse,Sales,Other-relative,White,Female,0,0,40,Cuba
2,TEST_0002,47,Self-emp-inc,205100,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,38,Germany

In [12]:
#checkcode
ensure_vals(globals(), 'test')
@check_safety
def check(
    user_answer:pd.DataFrame,
    test_shape:tuple
):
    c_point1 = user_answer.shape == test_shape
    
    if c_point1:
        return True
    else:
        return False
    
check(_, (3, 15))

True

### Inst.
---
#### ê²°ê³¼ í•´ì„
test ë°ì´í„°ì—ëŠ” train ë°ì´í„°ì™€ëŠ” ë‹¬ë¦¬ **target í”¼ì²˜(feature)ê°€ ì¡´ì¬í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.**  
ì´ë¥¼ í†µí•´ ì´ë²ˆ ë¶„ì„ì´ target, ì¦‰ **ì¸êµ¬ ì†Œë“ì„ ì˜ˆì¸¡í•˜ëŠ” ë¬¸ì œ** ì„ì„ íŒŒì•…í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### Hint.
head() í•¨ìˆ˜ëŠ” ê¸°ë³¸ì ìœ¼ë¡œ ìƒìœ„ 5ê°œ í–‰(row) ë°ì´í„°ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤.  
ì¶œë ¥í•˜ê³  ì‹¶ì€ ê°œìˆ˜ë¥¼ 4ê°œë¡œ ë³€ê²½í•˜ê³  ì‹¶ë‹¤ë©´ head(4)ë¡œ ì…ë ¥í•´ ë³´ì„¸ìš”.

### Solution.
```python
test.head(3)
```

# 6.ë°ì´í„°í”„ë ˆì„(DataFrame)ì„ CSV íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°

[ë¬¸ì œ 6]  
submission ê°ì²´ì˜ `to_csv()` ë©”ì†Œë“œë¥¼ í™œìš©í•˜ì—¬ íŒŒì¼ì„ ì €ì¥í•´ë³´ì„¸ìš”.

In [61]:
submission.___('submission.csv', index=False)

In [14]:
#checkcode
ensure_vals(globals(), 'submission')
@check_safety
def check(
    user_answer
):
    answer = pd.read_csv('submission.csv')

    sub_medv = user_answer['target'].apply(lambda x: int(x * 100))
    ans_medv = answer['target'].apply(lambda x: int(x * 100))

    c_point0 = (sub_medv == ans_medv).all()
    if c_point0:
        return True
    else:
        return False

check(submission)

True

### Inst.
pandas ë¼ì´ë¸ŒëŸ¬ë¦¬(Library)ë¥¼ ì‚¬ìš©í•˜ì—¬ **`ë°ì´í„°í”„ë ˆì„(DataFrame)`ì„ `csv íŒŒì¼`ë¡œ ì €ì¥í•˜ëŠ” ì½”ë“œ**ì…ë‹ˆë‹¤.  
submission ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•˜ê³ , ì €ì¥í•  csv íŒŒì¼ì˜ ì´ë¦„ê³¼ ê²½ë¡œë¥¼ ì§€ì •í•œ í›„, `to_csv()` ë©”ì†Œë“œë¥¼ ì‚¬ìš©í•˜ì—¬ ì €ì¥í•©ë‹ˆë‹¤.  
submission ë°ì´í„°í”„ë ˆì„ì„ `submission.csv` íŒŒì¼ë¡œ ì €ì¥í•˜ë©°,  
`index=False` ì˜µì…˜ì„ ì£¼ì–´ **ì¸ë±ìŠ¤ ì •ë³´ë¥¼ ì œì™¸** í•˜ê³  ì €ì¥í•©ë‹ˆë‹¤.  

> ì˜ˆì‹œ: submission.to_csv('ì €ì¥í•  csv íŒŒì¼ëª…', index=False)

`to_csv()` ë©”ì†Œë“œëŠ” ë°ì´í„°í”„ë ˆì„ì„ csv íŒŒì¼ë¡œ ì €ì¥í•˜ëŠ” ê¸°ëŠ¥ì„ ìˆ˜í–‰í•©ë‹ˆë‹¤.  
ì¸ìë¡œ ì „ë‹¬ëœ íŒŒì¼ ì´ë¦„ê³¼ ê²½ë¡œì— ë”°ë¼ csv íŒŒì¼ì„ ì €ì¥í•  ìˆ˜ ìˆìœ¼ë©°,  
ì¸ë±ìŠ¤(index) ì •ë³´ë¥¼ í¬í•¨í• ì§€ ì—¬ë¶€ë¥¼ ê²°ì •í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
ì´ëŠ” ë°ì´í„°í”„ë ˆì„ì˜ êµ¬ì¡°ë¥¼ ìœ ì§€í•˜ë©´ì„œ csv íŒŒì¼ë¡œ ë°ì´í„°ë¥¼ ì €ì¥í•  ìˆ˜ ìˆëŠ” íš¨ê³¼ì ì¸ ë°©ë²• ì¤‘ í•˜ë‚˜ì…ë‹ˆë‹¤.

### Hint.
empty

### Solution.

```python
submission.to_csv('submission.csv', index=False)
```